altair==5.5.0
gensim
matplotlib==3.9.3
numpy
pandas==2.2.3
plotly==5.24.1
pyecharts==2.0.7
pyLDAvis==3.4.1
pymysql==1.1.1
pyvis==0.3.2
Requests==2.32.3
scikit_learn==1.5.2
seaborn==0.13.2
spacy
streamlit==1.40.2
streamlit_echarts==0.4.0
